<template name="lists">

    <div class="lists">

        <form id="filter">
            {{> esInput index="lists" id="search" placeholder="Search..." }}
            <a href="" class="addItem" >Add</a>
        </form>

        {{#ifEsIsSearching index="lists" id="search"}}
            loading..
        {{/ifEsIsSearching}}

        {{#ifEsHasNoResults index="lists" id="search" logic="OR" }}
            <div class="no-results">No results found!</div>
        {{/ifEsHasNoResults}}

        <div id="searchLists">
            {{#esEach index="lists" id="search"}}
                <div>
                    {{title}}<i>{{index}}</i>
                    <form>
                        <a href="/lists/{{_id}}">show</a>
                        <a class="remove-list-element">remove</a>
                        <input type="text" class="list-title-update" placeholder="{{title}}">
                        created by: {{author}}
                    </form>
                </div>

                {{else}}
                Notjign
            {{/esEach}}
        </div>
        <div id="allLists">
            {{#each lists}}
                <div style="border-right: 8px solid {{color}}" >
                    {{title}}
                    <form>
                        <a href="/lists/{{_id}}">show</a>
                        <a class="remove-list-element">remove</a>
                        <input type="text" class="list-title-update" placeholder="{{title}}">
                        created by: {{author}}
                    </form>
                </div>
            {{/each}}
        </div>
    </div>

</template>
