<template name="lists">
    <div class="lists">
        <a id="new-list" href="#" class="ui bottom left attached teal label">Add List</a>
        <ul id="editable">
            {{#each lists}}
             <li class="button waves-float waves-button waves-effect waves-ripple">
                {{title}}<i>{{index}}</i>
                <id>{{index}}</id>

                <form>
                    <a href="/lists/{{_id}}">show</a>
                    <a class="remove-list-element">remove</a>
                    <input type="text" class="list-title-update" placeholder="{{title}}">
                    created by: {{author}}
                </form>

                </li>
            {{else}}
                No Lists
            {{/each}}
        </ul>
    </div>
</template>
